<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>剩余金额</key>
	<integer>500</integer>
	<key>图标名</key>
	<string>购物</string>
	<key>是否为默认账本</key>
	<false/>
	<key>账本名</key>
	<string>购物</string>
	<key>预设金额</key>
	<integer>600</integer>
	<key>颜色代码</key>
	<integer>123</integer>
</dict>
</plist>
